body {
  background-color: black;
  text-align: center;
}

h1, h2, p {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-weight: 300px;
  font-size: 42px;
}

p, #pp {
  font-size: 21px;
  color: grey;
  text-align: center;
}

a {
  color: aquamarine;
  font-size: 16px}
}

img {
    margin-left: auto;
    margin-right: auto;
}

footer, p{
  text-align: right;
}
